.titulosTexto{
 background-color:#f0b5a4;
 color: #55190d;
 font-family: 'Times New Roman';
 font-size: large;
}
#logotexto{
 background-color:#f0b5a4;
 color: #55190d;
 font-family: 'Times New Roman';
 font-size: 30pt;
 padding: none;
 margin: none;
}
body{
    background-image: url(../imgs/bgsite.png);
    background-repeat: no-repeat;
    background-size: auto;
    font-family:'Times New Roman';
}
.bordas{
    border-color: #FFECE0;
    border-radius: 1%;
    border-style:double; 
    padding: none;   

}
.preco{
    color: #55190d;
    font-family: 'Times New Roman';
    font-style: oblique;
    font-size:x-large;
}
.imgsize {
    border-radius: 8px;
    width: auto;
    height: 100px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




@media screen and (max-width: 767px) 
{
    aside {

        height: 350px !important;
    }
}
p,h1,h2,h3,h4,h5,h6{
    font-family: 'Times New Roman';
}

/*Estilo do Chat*/
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 5px;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
    border-radius: 10px;
  }
  .form-container .cancel {
    border-color: red;
    background-color: #f0b5a4;

  }
  .form-container .send {
    border-color: green;
    background-color:aquamarine;
  }
  .chat-popup {
    display: none;
    z-index: 9;
  }
/*Fim do estulo do chat*/ 