.titulosTexto{
 background-color:#d87256;
 color: #55190d;
 font-family: 'Times New Roman';
}
body{
    background-image: url(../imgs/fundosite.png);
    background-repeat: no-repeat;

}
.bordas {
    border-color: #55190d;
    border-radius: 2%;
    border-width: 2px;
    
}
